body{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgb(66, 66, 66) 75%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.div1 {
    height: 35px;
    background-color: rgb(105, 105, 105);
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}
.div1 button{
    height: 25px;
    width: 25px;
    background: transparent;
    border: none;
}
.div1 i {
 color: rgb(0, 0, 0);
 font-size: 20px;
 cursor: pointer;
}
.div1 i:hover{
color: rgb(255, 255, 255);
transition: 1s;
}
.div2{
    height: 300px;
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
   
}
.div3{
    background: rgb(255, 255, 255);
}

.div2 img{
    height: 150px;
    width: 150px;
    border-radius: 1000px;
}
.div4{
    display: flex;
    height: 200px;
    background: rgb(255, 255, 255);
    align-items: center;
    width: 700px;
    gap: 55px;
}
.div5 {
    display: flex;
    justify-content: center;
    
}
.div5 img {
    padding: 8px;
}

